# dependências
node_modules
.pnp
.pnp.js

# build
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor/IDE
.vscode/
.idea/
*.swp

# sistema operacional
.DS_Store
Thumbs.db

# ambiente
.env
.env.*
!.env.example   # se quiser manter um modelo das variáveis

# Docker
Dockerfile
docker-compose.yml
docker-compose.dev.yml

# outras configs locais
*.local

package-lock.json